@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
*, *:before, *:after {
box-sizing: border-box;
}

html {
font: 16px/1.6 'Open Sans', sans-serif;
color: #888;
}

h1, h2, h, h3, h4, h5, h6 {
line-height: 1.1;
margin-bottom: .5rem;
}

ul {
padding-left: 1em;
}

#wrapper {
max-width: 600px;
padding: 2em;
margin: 0 auto;
text-align: center;
}

img {
max-width: 100%;
margin: 1em auto;
height: auto;
}

hr {
margin: 3em 0;
}
